/* quiz.css */
@font-face {
    font-family: 'Albert Sans';
    src: url('/static/ttf/albertsans-regular.ttf') format('truetype'); /* Adjust the filenames and paths as necessary */
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Albert Sans', sans-serif;
    margin: 0;
    padding: 0;
     
    background: #D3CCE3;   /*fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* background: #d9a7c7; */
    /* background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7); */
    /* background: linear-gradient(to right, #fffcdc, #d9a7c7);  */
    
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

iframe {
    display: block;
    margin: 20px auto;
}

button {
    /* display: block; */
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
}

/* Text Styles */

.center {
    text-align: center;
}

#dark-header-text {
    color: #121212;
}

#dark-unit-text {
    color: #121212;
}

.progress {
    height: 15px;
    width: 120px;
    margin-bottom: 12px;

}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lesson-text{
    max-width: 60%;
    margin: 0 auto; 
}

#lesson-time{
    color: grey;
}

#question-title{
    font-size: 20px;
}

.center {
    text-align: center;
  }
  
.score {
    font-size: 20px;
    font-weight: bolder;
}

.result-section {
    margin-bottom: 20px;
}

.bold {
    font-weight: bolder;
}

.button-container {
    text-align: center;
}

.button-container .center {
    display: inline-block;
    margin: 0 10px; /* Adjust the margin as needed */
}

