{% include 'header.html' %}
<body>
    <script type="text/javascript">
        let lesson = {{lesson|tojson}}

        $(document).ready(function(){
            $("#next_button").click(function(){
                if("{{lesson.next_lesson}}" == "end"){
                    window.location.href = "/quiz/1"
                }
                else{
                    window.location.href = "/learn/{{lesson.next_lesson}}"
                }
            })
            $("#prev_button").click(function(){
                if("{{lesson.prev_lesson}}" == "beg"){
                    window.location.href = "/"
                }
                else{
                    window.location.href = "/learn/{{lesson.prev_lesson}}"
                }
            })
        })
    </script>
    <h1>Lesson # {{lesson.lesson_id}}: {{lesson.title}}</h1>
    <p>{{lesson.text}}</p>
    <p>Lesson Start Time: {{ lesson.start_time }}</p> <!-- Display start time -->
    <iframe width="560" height="315" src="{{ lesson.video }}" title="Video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- Progress bar -->
    <div class="progress-container">
        <p>Lesson progress: &nbsp </p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ lesson.progress }}%;" aria-valuenow="{{ lesson.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div class="button-container">
        <button id="prev_button">Back</button> 
        <button id="next_button">Next</button>
    </div>
    <br>
</body>
