{% include 'header.html' %}
<body>
    <script type="text/javascript">
        let question = {{question|tojson}}

        $(document).ready(function(){
            $("#next_button").click(function(){
                if("{{question.next_q}}" == "end"){
                    window.location.href = "/"
                }
                else{
                    window.location.href = "/quiz/{{question.next_q}}"
                }
            })
            $("#prev_button").click(function(){
                if("{{question.prev_q}}" == "beg"){
                    window.location.href = "/"
                }
                else{
                    window.location.href = "/quiz/{{question.prev_q}}"
                }
            })
        })
    </script>
    <h1>Quiz Question # {{question.quiz_id}}: {{question.title}}</h1>
    <br><br>
    <button id="prev_button">Back</button>
    <iframe width="400" height="200" src="{{question.video1}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="400" height="200" src="{{question.video2}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="400" height="200" src="{{question.video3}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <button id="next_button">Next</button>
    <br>
    <p>{{question.text}}</p>
</body>