{% include 'header.html' %}
<body>
  <script type="text/javascript">
    let question = {{ question|tojson }};

    $(document).ready(function () {
      $("#next_button").click(function () {
        if ("{{ question.next_q }}" == "end") {
          // If it's the last question, submit the quiz
          submitQuiz();
        } else {
          const selectedAnswer = $("input[name='video']:checked").val();
          window.location.href = "/quiz/{{ question.next_q }}";
        }
      });
      $("#prev_button").click(function () {
        if ("{{ question.prev_q }}" == "beg") {
          window.location.href = "/";
        } else {
          window.location.href = "/quiz/{{ question.prev_q }}";
        }
      });
    });

    function submitQuiz() {
      let correctCount = 0;

      // Get the selected answer
      const selectedAnswer = $("input[name='video']:checked").val();

      // Compare the selected answer to the correct answer
      const correctAnswer = "{{ question.correct_answer }}"; // Assuming question.correct_answer stores the correct video URL
      if (selectedAnswer === correctAnswer) {
        correctCount++;
      }
      // Submit the quiz by creating a form and submitting it via POST method
      const form = $('<form action="/quiz/{{ question.quiz_id }}" method="post"></form>');
      form.appendTo('body').submit();
    }


  </script>
  <div class="container">
    <h1>Quiz Question # {{ question.quiz_id }}: {{ question.title }}</h1>
    <br><br>
    <div class="row">
      <div class="col-md-4">
            <label>
              <input type="radio" name="video" value="{{ question.video1 }}"> Video 1
            </label>
            <iframe
              width="100%"
              height="200"
              src="{{ question.video1 }}"
              title="Video 1"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="no-referrer"
              allowfullscreen
            ></iframe>
        </div>
        <div class="col-md-4">
            <label>
              <input type="radio" name="video" value="{{ question.video2 }}"> Video 2
            </label>
            <iframe
              width="100%"
              height="200"
              src="{{ question.video2 }}"
              title="Video 2"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="no-referrer"
              allowfullscreen
            ></iframe>
      </div>
      <div class="col-md-4">
            <label>
              <input type="radio" name="video" value="{{ question.video3 }}"> Video 3
            </label>
            <iframe
              width="100%"
              height="200"
              src="{{ question.video3 }}"
              title="Video 3"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="no-referrer"
              allowfullscreen
            ></iframe>
      </div>
    </div>
    <div class="button-container">
        <button id="prev_button">Back</button> 
        <button id="next_button">Next</button>
        {% if question.next_q == 'end' %}
          <a href="#" class="btn btn-primary" onclick="submitQuiz()">Get Results</a>
        {% endif %}
    </div>
    <br>
    <p>{{ question.text }}</p>
  </div>

  
</body>

