{% include 'header.html' %}
<body>
  <script type="text/javascript">
    $(document).ready(function () {
  $("#prev_button").click(function (event) {
    event.preventDefault(); // Prevent the default form submission behavior
    if ("{{ question.prev_q }}" == "beg") {
      window.location.href = "/";
    } else {
      window.location.href = "/quiz/{{ question.prev_q }}";
    }
  });
});
  </script>
  <div class="container">
    <h1>Quiz Question # {{ question.quiz_id }}: {{ question.title }}?</h1>
    <form method="post" action="/quiz/{{ question.quiz_id }}">
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <label>
                    <input type="radio" name="video" value="{{ question.video1 }}"> Video 1
                </label>
                <iframe
                    width="100%"
                    height="200"
                    src="{{ question.video1 }}"
                    title="Video 1"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="no-referrer"
                    allowfullscreen
                ></iframe>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" name="video" value="{{ question.video2 }}"> Video 2
                </label>
                <iframe
                    width="100%"
                    height="200"
                    src="{{ question.video2 }}"
                    title="Video 2"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="no-referrer"
                    allowfullscreen
                ></iframe>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" name="video" value="{{ question.video3 }}"> Video 3
                </label>
                <iframe
                    width="100%"
                    height="200"
                    src="{{ question.video3 }}"
                    title="Video 3"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="no-referrer"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
        <div class="button-container">
            <button id="prev_button">Back</button> 
            <button type="submit" id="next_button">Next</button>
            {% if question.next_q == 'end' %}
            <button type="submit" class="btn btn-primary">Get Results</button>
            {% endif %}
        </div>
        <br>
        <p>{{ question.text }}</p>
    </form>
</div>
</body>
